# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Release keystore (generated during build process)
android/app/release.keystore

# Flutter project specific files
.metadata
daily_inc_history.json

# Additional recommended ignores for Flutter
.flutter-plugins-cache
.packages
*.apk
*.ipa
/*.json
/*.AppImage
android/.gradle/
android/local.properties
daily_inc_blank.json
daily_inc.AppDir/*
ios/Flutter/app.flx
ios/Flutter/app.flxc
ios/Flutter/App.framework
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
.roo/mcp.json
.qwen/
